@model IEnumerable<S3G2_PVFAPP.Models.Work>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Work_center.WorkcenterName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Work_center.WorkcenterName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { employeeID = item.EmployeeID, workcenterID = item.WorkcenterID }) |
            @Html.ActionLink("Details", "Details", new { employeeID = item.EmployeeID, workcenterID = item.WorkcenterID }) |
            @Html.ActionLink("Delete", "Delete", new { employeeID = item.EmployeeID, workcenterID = item.WorkcenterID })
        </td>
    </tr>
}

</table>
