@model IEnumerable<S3G2_PVFAPP.Models.Supplies>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/TableDisplayStyles.css" rel="stylesheet" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupplyUnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raw_Materials.MaterialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor.VendorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupplyUnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Raw_Materials.MaterialName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor.VendorName)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { vendorID = item.VendorID, materialID = item.MaterialID })" class="btn btn-dark">Edit</a>
            <a href="@Url.Action("Details", new { vendorID = item.VendorID, materialID = item.MaterialID })" class="btn btn-primary">Details</a>
            <a href="@Url.Action("Delete", new { vendorID = item.VendorID, materialID = item.MaterialID })" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}

</table>
