@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Pine Valley Furniture (PVF) !</h1>
    <p class="lead">PVF is a web application designed in ASP .Net C# Framework to manage the SQL Server database of a furniture company.</p>


</div>

<br />


<img alt="List View" src="@Url.Content("~/Images/furnitureHomePageCropped.jpg")" height="350" style="display: block; margin-left: 0; margin-right: auto;">

<br />

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Customers", "Index", "Customers")</h2>
        <p>
            Customers Information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Employees", "Index", "Employees")</h2>
        <p>
            Employees Information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Orders", "Index", "Orders")</h2>
        <p>
            Orders Information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Productlines", "Index", "Productlines")</h2>
        <p>
            Product Lines Information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Products", "Index", "Products")</h2>
        <p>
            Products Information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Raw_Materials", "Index", "Raw_Materials")</h2>
        <p>
            Raw materials Information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Sales_Person", "Index", "Sales_Person")</h2>
        <p>
            Sales Person Information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Skills", "Index", "Skills")</h2>
        <p>
            Skills Information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Territories", "Index", "Territories")</h2>
        <p>
            Territories Information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Vendors", "Index", "Vendors")</h2>
        <p>
            Vendors Information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Work_center", "Index", "Work_center")</h2>
        <p>
            Work centers Information.
        </p>
    </div>
</div>

<br />
<br />

<div class="jumbotron">
    <h2>Bridging Classes/Association Entities</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Businesses", "Index", "Businesses")</h2>
        <p>
            Business Information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Knowledges", "Index", "Knowledges")</h2>
        <p>
            Skill Knowledge Information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Manufactures", "Index", "Manufactures")</h2>
        <p>
            Manufacture uses Information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("OrderLines", "Index", "OrderLines")</h2>
        <p>
            Order lines Information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Productions", "Index", "Productions")</h2>
        <p>
            Productions Information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Supplies", "Index", "Supplies")</h2>
        <p>
            Supplies Information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Works", "Index", "Works")</h2>
        <p>
            Work place Information.
        </p>
    </div>
</div>

