@model IEnumerable<S3G2_PVFAPP.Models.Knowledge>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/TableDisplayStyles.css" rel="stylesheet" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skill.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skill.Description)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { employeeID = item.EmployeeID, skillID = item.SkillID })" class="btn btn-dark">Edit</a>
            <a href="@Url.Action("Details", new { employeeID = item.EmployeeID, skillID = item.SkillID })" class="btn btn-primary">Details</a>
            <a href="@Url.Action("Delete", new { employeeID = item.EmployeeID, skillID = item.SkillID })" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}

</table>
